<div class="coursebox">
    <div class="c-image">
        <img src="http://localhost:8889/open-api/images/{{current.filename}}">
    </div>
    <h5>{{current.name | uppercase}}</h5>
    <h6>{{current.description}}</h6>
    <div class="price-block">
        <h5>{{current.price | discount: current.duration | currency: "INR"}}
            <span [style.fontSize]="'12px'" [style.color]="'red'">
              (<del>{{current.price| currency: "INR"}}</del>)</span>
        </h5>
        <h6>Duration: {{current.duration}} hours</h6>
    </div>
    <div class="rating-block">
        <div class="unit"><span [style.color]="'darkblue'">rating:</span> {{current.rating}}</div>
        <div class="unit">
        <img src="http://localhost:8889/open-api/userimages/{{current.user.imagefile}}">
        </div>
        <div class="unit" [style.fontStyle]="'italic'" [style.cursor]="'pointer'"
          (click)="setType()">
            {{current.user.username}}</div>
    </div>
</div>
